:root{
    font-family: 'Open Sans', sans-serif;
    --colorprimary: rgba(65,202,240,1);

body{
    background-color: black;
}


h2{
    font-family: 'Roboto', sans-serif;
}

i{
    background-color: var(--colorprimary);
}